.content {
  width: 85%;
  min-height: 750px;
  min-width: 600px;
  background-color: $secondary-color;

  > * {
    padding-left: 30px;
  }

  // Increased the font-size and line-height for paragraphs and lists.
  p, ul, li {
    font-size: 1.8rem;
    line-height: 1.5;
    width: 55%;
    min-width: 550px;
    // Set bullet style for shows.
    list-style-position: inside;
    list-style-type: square;
  }

  a, a:visited {
    color: $primary-color;
    text-decoration: underline;
  }

  a:hover {
    color: $primary-color;
    text-decoration: underline;
  }

  img, video {
    height: 350px;
    width: 550px;
    margin-bottom: 30px;
  }
}
